body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    background-color: black;
    height: 50px;
}
.active{
    color: #0ba39c;
}

/* ----logo------- */
.logo{
    height: 100px;
    padding-top: 5px;
}
.logo img{
    display: block;
    margin: 0 auto;
    height: 90px;
}
@media (max-width:700px){
    .logo{
        height: 80px;
    }
    .logo img{
        height: 70px;
    }
}

/* -----links=nav------- */
nav{
    height: 100px;
    /* margin: auto 33.5%; */
    /* margin: 2% auto; */
    /* width:33%; */
    /* display: flex; */
    text-align: center;
    line-height: 100px;
}
nav > a{
    color:black;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 2.5%;
    /* padding-top: 3%;
    width: 20%;
    height: 100%; */
    text-transform: uppercase;
}
nav > a:hover{
    color: #0ba39c;
}

@media (max-width:375px){
    nav > a{
        font-size: 12px;
        margin-left: 1.8%;
    }
    nav{
        line-height: 70px;
        height: 70px;
    }
}

/* -------main_content------- */
.main_content{
    position: relative;
    height: 600px;
}
.main_content > img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: 20%;
}
.content{
    position: absolute;
    top:20%;
    left:50%;
    width: 45%;
    cursor: pointer;
}
.content > title{
    background: white;
    display: inline-block;
    font-size: 21px;
    font-weight: bolder;
    padding: 2% 5%;
}
.content > p{
    background: black;
    font-size: 17px;
    color: white;
    display:inline-block;
    padding: 2% 5%;
    margin: 0px;
    margin-top: 3%;
}
.content > a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    background: #0ba39c;
    padding: 3% 4%;
    color: white;
    display: block;
    width: 25%;
    margin-top: 2%;
}
 
@media (max-width:1149px){
    .content{
        width: 50%;
        height: auto;
    }
    .content > a{
        font-size: 13px;
        width: 35%;
        margin-top: 4%;
    }
    .content > title{
        font-size: 18px;
    }
    .content > p{
        font-size: 14px;
        margin-top: 4%;
    }
}
@media (max-width:741px){
    .content{
        left: 35%;
        width: 70%;
    }
}
@media (max-width:507px){
    .content{
        left: 0%;
        width: 100%;
    }
}
 
/* -----first_content---- */
.first_content{
    display:flex;
    width:70%;
    margin: 5% auto;
    flex-flow: wrap row; 
    justify-content: space-around;
}
.first_content  div{
    width: 30%;
}
.first_content  img{
    width:100%;
    border: 2px solid black;
    cursor: pointer;
    opacity: 0.7;
}
.first_content  img:hover {
    opacity: 1;
}
.first_content  span{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    padding: 5%;
}

@media (max-width:768px){
    .first_content{
        flex-flow: wrap column; 
    }
    .first_content  div{
        width: 70%;
        margin: 0 auto;
    }
}


/* -------footer----- */

footer{
    background: black;
    display: flex;
    flex-wrap: nowrap row;
    text-align: center;
    height: 150px;
    font-size: 25px;
    padding: 2%;
}
.footer_text{
    width: 50%;
    color:white;
}
.icon{
    width: 50%;
}
.icon a > i{
    color: white;
    font-size: 40px;
}
.icon a > i:hover{
    color: #0ba39c;
}

@media (max-width:428px){
    footer{
        height: 70px;
    }
    .footer_text{
        font-size: 21px;
    }
    .icon a i{
        font-size: 35px;
    }
}


/* ======================================about=================================== */
.about_contener{
    margin: 10px auto;
    text-align: center;
    width: 50%;
    font-size: 17px;
    margin-bottom: 5%;
}
div > h2{ 
    background-color: black;
    color: white;
    padding: 3%;
    display: inline-block;
}
.about_contener > img{
    border: 2px solid black;
    width: 100%;
    margin-bottom: 3%;
}

@media (max-width:768px){
    .about_contener{
        width: 90%;
        font-size: 14px;
    } 
}

/* ====================================Gallery======================================== */
.gallery_contener{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.gallery_contener h1{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 1.5%;   
}
.photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photos > div {
    width: 30%;
    margin-bottom: 5%;
    border: 2px solid black;
    
}
.photos > div img{
    width: 100%;
    opacity: 0.7;
}
.photos > div img:hover{
    opacity: 1;
}

@media (max-width:768px){
    .gallery_contener{
        width: 80%;
        font-size: 15px;
    }
    .photos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .photos > div {
        width: 40%;
    }
}
@media (max-width:603px){
    .photos > div {
        width: 100%;
    }
}

/* =======================================Blog=========================================== */
.blog_contener {
    width: 60%;
    height: 1100px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.blog_contener > h1{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 2%;
    text-align: center;
}
.blog-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 30%;
    margin-top: 3%;
}
.img_contener{
    width: 40%;
    height: 100%;
}
.img_contener img{
    width: 100%;
    border-right: 2px solid black;
    opacity: 0.8;
    height: 100%;
}
.img_contener img:hover{
    opacity: 1;
}
.text_contener{
    text-align: center;
    width: 60%;
    padding: 5%;
    line-height: 25px;
}
.text_contener a{
    display: block;
    background-color: black;
    color: white;
    padding: 2%;
    text-align: center;
    line-height: 25px;
    margin-top: 3%;
}
@media (max-width:942px){
    .blog_contener {
        width: 90%;
        height: 1200px;
    }
    .blog-cont{
        height: 28%;
    }
    .text_contener > h1{
        font-size: 19px;
    }
    .text_contener{
        padding: 1%;
        margin-top: 3%;
    }
}
@media (max-width:569px){
    .blog_contener {
        width: 100%;
        height: 1200px;
    }
    .blog-cont{
        height: 30%;
    }
}


/* =========================================contact========================================== */

.form_contect{
    width: 50%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.form_contect h1{
    display: block;
    padding: 3%;
    background-color: black;
    color: white;
}
input, textarea{
    font-size: 20px;
    width: 100%;
    margin-top: 3%;
    padding: 3%;
    text-align: center;
}
::placeholder{
    color: black;
}
button{
    background-color: black;
    color: white;
    float: right;
    padding: 3%;
    margin-top: 3%;
    font-size: 20px;
}

@media (max-width:795px){
    .form_contect{
        width: 80%;
    }
    .form_contect h1{
        font-size: 30px;
    }
    input, textarea{
        font-size: 15px;
    }
}
@media (max-width:795px){
    .form_contect{
        width: 99%;
    }
}
@media (max-width:390px){
    .form_contect h1{
        font-size: 25px;
    }
}
/* =================================================gallery_single_page==================================================== */

.about_contener .single_img{
    width:80%;
}
div > h4{ 
    background-color: black;
    color: white;
    padding: 1%;
    display: inline-block;
    width: 45%;
    margin: 2% 26%;
    font-size: 25px;
}
@media (max-width:622px){
    div > h4{ 
        font-size: 15px;
        width: 60%;
        margin: 2% 20%;
    }
}
/* ==================================================blog_single============================================================= */


.all_text{
    width: 80%;
    margin: 2% auto;
    text-align: center;
}
.text_blog{
    margin-top: 4%;
}